python/src/Crawler/geckodriver.log
python/src/Crawler/file_ids.txt
python/src/Crawler/file_ids_temp.txt
python/src/Crawler/count.txt
python/src/Crawler/head.txt
python/src/Crawler/Log/*

interpreter/*

python/src/Indexer/__pycache__/*
python/src/Indexer/Blacklists/*

Preprocessor/blacklist_id.txt

Resources/*
Resources_Backup/*

geckodriver.log
.idea/*
