Crawler/geckodriver.log
Crawler/file_ids.txt
Crawler/file_ids_temp.txt
Crawler/count.txt
Crawler/head.txt
Crawler/Log/*

interpreter/*

Indexer/__pycache__/*
Indexer/Blacklists/*

Preprocessor/blacklist_id.txt

Resources/*
Resources_Backup/*

geckodriver.log
.idea/*
